@font-face {
    font-family: "AquaPlaygroundRegular";
    src: url('./font/Lato-Regular.ttf');
}

body {
    font-family: AquaPlaygroundRegular, sans-serif; 
}

.playground-header {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
}

.playground-logo {
    background-image: url(./images/favicon_new.png);
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: cover;
}

.playground-title {
    display: inline-block;
    vertical-align: middle;
    line-height: 60px;
    margin: 0;
}

.playground-controls {
    position: relative;
    padding: 0.2em;
}

.playground-run-button {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 8em;
    background-image: linear-gradient(
    0deg, transparent 0%, hsl(342deg 70% 65%) 50%, transparent 100%);
    background-color: hsl(342deg 70% 45%);
    color: white;
    padding: 0.7em 1.2em;
    border-radius: 2em;
    border-color: #c75db0;
    font-weight: bold;
}

.playground-ide {
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
}

.playground-editor {
    flex: 1 0;
}

.playground-codemirror-wrapper {
    width: 50%;
    min-height: 75vh;
}

.playground-output {
    width: 50%;
    background-color: hsl(0deg, 0%, 20%);
    color: white;
}

.CodeMirror {
    height: 100%;
}