@font-face {
    font-family: "AquaPlaygroundRegular";
    src: url('./fonts/Lato-Regular.ttf'); 
}

body {
    font-family: AquaPlaygroundRegular, sans-serif; 
}

.playground-header {
    display: flex;
    flex-direction: row;
    padding: 0.3em 0.3em 0.3em 0.3em;
    align-items: center;
}

.playground-logo {
    background-image: url(./images/favicon_new.png);
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: cover;
}

.playground-title {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.playground-editor {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0;
}

.playground-output {
    width: 45%;
    color: white;
    display: flex;
    flex-direction: column;
}

.playground-controls {
    display: flex;
    flex-direction: row;
    position: relative;
    border-bottom: 2px solid #c73d7e17;
}

.playground-controls-output {
    display: flex;
    flex-direction: row;
    position: relative;
    border-bottom: 2px solid #c73d7e17;
    justify-content: flex-end;
}

.playground-run-button {
    position: relative;
    float: right;
    z-index: 10;
    width: 8em;
    background-image: linear-gradient(
    0deg, transparent 0%, hsl(342deg 70% 63%) 30%, transparent 100%);
    background-color: hsl(342deg 70% 43%);
    color: white;
    padding: 0.7em 1.2em;
    border-radius: 2em 0 2em 0;
    border-color: #c73db0;
    border-width: 1px 0 0 1px;
    font-weight: bold;
    margin-left: auto;
}

.playground-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(0deg, transparent 0%, hsl(342deg 70% 93%) 100%);
    background-color: hsl(342deg 70% 43%);
    color: white;
    width: 7em;
    margin: 0 3px 0 0;
    text-align: center;
    line-height: 2em;
    vertical-align: center;
    border-radius: 0.3em 0.3em 0 0;
}

.playground-tab-selected {
    background-image: linear-gradient(0deg, transparent 0%, hsl(342deg 100% 40%) 100%);
}

.playground-ide {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 5px solid hsl(342deg 50% 83%);
}

.playground-codemirror-wrapper {
    position: relative;
    width: 100%;
}

.playground-run-output {
    background-color: hsl(0deg, 0%, 20%);
    height: 20em;
    padding: 0.3em;
}

.CodeMirror {
    height: 100%;
}

.playground-loading {
    display: flex;
}

.playground-loading-content {
    width: 23%;
    margin: auto;
}

.playground-compiling-overlay {
    display: flex;
    position: absolute;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0deg, 0%, 90%, 0.8);
    color: hsl(340deg, 73%, 30%);
}

.playground-compiling-overlay-content {
    width: 40%;
    margin: auto;
    text-align: center;
    transform: translateY(30%);
}

.playground-examples-select {
    box-sizing: border-box;
    font-size: 1.2em;
    height: 90%;
    margin: 2px;
    border-radius: 0.5em;
    background-image: linear-gradient(0deg, transparent 0%, hsl(342deg 70% 63%) 30%, transparent 100%);
    background-color: hsl(342deg 70% 43%);
    color: white;
}

.ring-loader {
    background-image: url(./images/ring-loader.gif);
}

.playground-menu {
    margin-left: auto;
}

.playground-menu-item {
    display: inline-block;
    padding: 1em;
}

a {
    text-decoration: none;
    color: hsl(0deg, 50%, 40%);
}

.playground-foooter {
    display: flex;
}

.playground-info {
    width: 25%;
    margin: 0.25em 0.25em 0 auto;
    padding: 1em;
    border: 1px solid hsl(0deg, 50%, 40%);
    color: hsl(0deg, 50%, 40%);
    text-align: center;
}

.error-alert {
    background-color: hsl(0deg, 100%, 50%);
    vertical-align: middle;
    border: 1px solid hsl(0deg, 100%, 20%);
    box-sizing: border-box;
    display: flex;
    padding: 0.2em;
    margin: 0.1em;
}

@media (max-width: 992px) {
    .playground-header {
        font-size: 0.9em;
    }
    .playground-logo {
        width: 32px;
        height: 32px;
    }
    .playground-run-button {
        padding: 0.2em 0.5em;
    }
    .tiny-hide {
        display: none;
    }
}
  
@media (max-width: 768px) {
    body {
        font-size: 0.9em;
    }
}

@media (max-width: 576px) {
    .playground-title {
        font-size: 0.9em;
    }
    .playground-ide {
        flex-direction: column;
    }
    .playground-editor {
        width: 100%;
    }
    .playground-output {
        width: 100%;
    }
}